.example-card {
    max-width: 400px;
  }


.lsc{
  position: absolute;
  right: 10px;
  top: 10px;
}

.bi{
  position: absolute;
  left: 10px;
  top: 10px;
}

.what{
  position: absolute;
  left: 0px;
}

.why{
  position: absolute;
  left: 20px;
  top: 150px;
}

.how{
  position: absolute;
  left: 20px;
  top: 1350px;
}
.influ{
  position: absolute;
  left: 20px;
}
.brand{
  position: absolute;
  right: 20px;
}